# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Directory for local environment virtual machines
.vagrant/

# Mac and Linux file system files
.DS_Store
*.swp

# Build files
dist/
build/

# Coverage directory used by testing tools
coverage/

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# Debug logs
*.tgz
